[Unit]
Description=WSGI Service for ___Pkg___
After=network.target

[Service]
Type=simple
User=web-___pkg___
WorkingDirectory=/home/web-___pkg___/___REPO___
EnvironmentFile=-/etc/sysconfig/flask.d/___pkg___
ExecStart=/usr/local/var/pyenv/shims/gunicorn ___pkg___:app -b 0.0.0.0:___WSGI-PORT___ --workers 2 --timeout 5
ExecStop=/bin/sh -c "/usr/bin/ps auwx | /usr/bin/grep 'gunicorn web.wsgi -b 0.0.0.0:___WSGI-PORT___' | /usr/bin/grep -v grep | /usr/bin/awk '{print $2}' | /usr/bin/xargs kill -9"


[Install]
WantedBy=multi-user.target