[Unit]
Description=Celery for ___Pkg___
After=network.target

[Service]
Type=simple
User=web-___pkg___
WorkingDirectory=/home/web-___pkg___/___REPO___
EnvironmentFile=-/etc/sysconfig/flask.d/___pkg___
ExecStart=/bin/sh -c "/usr/local/var/pyenv/shims/celery worker -A web -l ERROR"
ExecReload=/bin/sh -c "/usr/local/var/pyenv/shims/celery purge -A web -f"
ExecStop=/bin/sh -c "/usr/bin/ps auwx | /usr/bin/grep web-___pkg___ | /usr/bin/grep celery | /usr/bin/grep -v grep | /usr/bin/awk '{print $2}' | /usr/bin/xargs kill -9"

[Install]
WantedBy=multi-user.target

